<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Stats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div id="stats">
        <div id="stats"
            style="position: fixed; top: 0; right: 0; color: white; padding: 0.5em; font-family: sans-serif; z-index:100;font-family: Protest Guerrilla, sans-serif; background-color: rgba(0, 0, 0, 0.7);">
            <div style="color:red; font-size:2vw;">FPS: <span id="fps">60</span></div>
            <div style="color:#5dc9ff; font-size:2vw;">Memory: <span id="memory">35</span> MB</div>
        </div>
    </div>
    <script src="./stats.js"></script>
</body>

</html>